*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Helped enable dark theme */
[data-theme='dark'] {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Checkbox and Ball styling */

.checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.checkbox-label {
  position: relative;
  padding: 15px 30px;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
  border-radius: 40px;
  border: 3px solid rgba(0, 0, 0, 0.372);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 0.2s linear;
  /* Ensure transition is applied */
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(30px);
  /* Translate when checked */
}

.ball:hover {
  box-shadow: 0 0 0px 12px rgba(141, 141, 141, 0.5);
}

/* CheckBox in Drawer, created a new class because id should be different for both
  buttons so that each one of them should be independent of each other */

.Checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.Checkbox-label {
  position: relative;
  padding: 15px 30px;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
  border-radius: 40px;
  border: 3px solid rgba(0, 0, 0, 0.372);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Ball {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 0.2s linear;
  /* Ensure transition is applied */
}

.Checkbox:checked+.Checkbox-label .Ball {
  transform: translateX(30px);
  /* Translate when checked */
}

.Ball:hover {
  box-shadow: 0 0 0px 12px rgba(141, 141, 141, 0.5);
}

/* Firefox */
/* For WebKit-based browsers like Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Makes the track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: #0073ff;
  /* Blue color for the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0040ff;
  /* Darker blue on hover */
}

/* Hide scrollbar arrows (if any) */
::-webkit-scrollbar-button {
  display: none;
  /* Hides the arrows */
}

/* Grid and List responsiveness */
@media (max-width: 370px) {
  .max-w-custom {
    max-width: 270px;
  }

  .custom-p {
    padding-left: 20px;
  }
}

/* Animation for Iphone on Home Page */

.animate {
  animation: uppAndDown 3s linear infinite alternate;
}

@keyframes uppAndDown {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

/* Transition for Custom Cursor */

.cursor--custom {
  transition-timing-function: ease-out;
  transition-duration: 500ms;
  border-radius: 50%;
}

/* Button Disabling */
.disabled {
  opacity: 0.5;
}

/* Coin Description */
.coin--description a {
  color: #3b82f6;
  text-decoration: none !important;
}